{% extends 'app/base.html' %}

{% load static %}

{% block contenido %}
<main>
    <div class="container">

        <div class="row galeria g-0  px-4 mb-5">
            <div class="col">
                <h2 class="titulo text-center py-5">Galeria de Imagenes</h2>
                
                <div class="row imagenes">
                    <!--imagen 1-->
                    <div class="contenedor-imagen col-12 col-md-6 col-lg-4">
                    
                            <figure class="figure"></figure>
                            <img src="{%static 'app/imgs/huevos de pascua.jpg' %}" class="d-block w-100" alt="">
                            <figcaption class="figure-caption">
                            <p class="text-center">Las familias chilena se preparan para semana santa. Visita del Conejito será este fin de semana.
                                <br>Autor: Nicolás Sepúlveda Gambi
                                Fecha: 05/04/2023
                            </p>
                            </figcaption>
                            </figure>
                        </a>
                    </div>
                    <!--imagen 2-->
                    <div class="contenedor-imagen col-12 col-md-6 col-lg-4">
                      
                            <figure class="figure"></figure>
                            <img src="{%static 'app/imgs/evasion.jpg' %}" class="d-block w-100" alt="">
                            <figcaption class="figure-caption">
                            <p class="text-center">A partir de abril aumentaran fiscalizaciones a pasajeros. Estarán en funcionamiento este fin de semana.
                                <br>Autor: Marisol García Correa
                                Fecha: 05/04/2023
                            </p>
                            </figcaption>
                            </figure>
                        </a>
                    </div>
                    <!--imagen 3-->
                    <div class="contenedor-imagen col-12 col-md-6 col-lg-4">
                        
                            <figure class="figure"></figure>
                            <img src="{%static 'app/imgs/carabinero.jpg' %}" class="d-block w-100" alt="">
                            <figcaption class="figure-caption">
                            <p class="text-center">Carabineros se encuentran en buscas del asesino del cabo Daniel Palma. Se han identificado tres sujetos de interés.
                                <br>Autor: Benjamín Miranda Araneda
                                Fecha: 05/04/2023
                            </p>
                            </figcaption>
                            </figure>
                        </a>
                    </div>
                    <!--imagen 4-->
                    <div class="contenedor-imagen col-12 col-md-6 col-lg-4">
                        
                            <figure class="figure"></figure>
                            <img src="{%static 'app/imgs/mariscos.jpg' %}" class="d-block w-100" alt="">
                            <figcaption class="figure-caption">
                            <p class="text-center">Prepare su bolsillo para la esta semana santa por el aumento de precio de mariscos y pescados. Aquí datos de las mejores pescaderías.
                                <br>Autor: Nicolás Sepúlveda Gambi
                                Fecha: 04/04/2023
                            </p>
                            </figcaption>
                            </figure>
                        </a>
                    </div>
                     <!--imagen 5-->
                     <div class="contenedor-imagen col-12 col-md-6 col-lg-4">
                       
                            <figure class="figure"></figure>
                            <img src="{%static 'app/imgs/feretro.jpeg' %}" class="d-block w-100" alt="">
                            <figcaption class="figure-caption">
                            <p class="text-center">Multitudinario despedida  a Carabinero  Daniel Palma . Presidente recibió bucheos de asistentes.
                                <br>Autor: Marisol García Correa
                                Fecha: 04/04/2023
                            </p>
                            </figcaption>
                            </figure>
                        </a>
                    </div>
                    <!--imagen 6-->
                    <div class="contenedor-imagen col-12 col-md-6 col-lg-4">
                        
                            <figure class="figure"></figure>
                            <img src="{%static 'app/imgs/meteoro.jpg' %}" class="d-block w-100" alt="">
                            <figcaption class="figure-caption">
                            <p class="text-center">Meteoro es captado en varios lugares del pais. Fenómeno no se volverá a repetir en 20 años.
                                <br>Autor: Benjamín Miranda Araneda
                                Fecha: 04/04/2023
                            </p>
                            </figcaption>
                            </figure>
                        </a>
                    </div>
                     <!--imagen 7-->
                     <div class="contenedor-imagen col-12 col-md-6 col-lg-4">
                      
                            <figure class="figure"></figure>
                            <img src="{%static 'app/imgs/elecciones.jpg' %}" class="d-block w-100" alt="">
                            <figcaption class="figure-caption">
                            <p class="text-center">Servel publicó la lista de vocales de mesa para eleccion de consejo constitucional. Revise aquí si salió sorteado y cúal es su local de votación.
                                <br>Autor: Macarena Segovia Quinteros
                                Fecha: 03/04/2023
                            </p>
                            </figcaption>
                            </figure>
                        </a>
                    </div>
                    <!--imagen 7-->
                    <div class="contenedor-imagen col-12 col-md-6 col-lg-4">
                       
                            <figure class="figure"></figure>
                            <img src="{%static 'app/imgs/seleccion.jpg' %}" class="d-block w-100" alt="">
                            <figcaption class="figure-caption">
                            <p class="text-center">La roja enfrentara a Brasil en partido preparatorios para el mundial. Jugadores aseguran estàn listos para dejarlo todo en la cancha.
                                <br>Autor: Nicolás Sepúlveda Gambi
                                Fecha: 03/04/2023
                            </p>
                            </figcaption>
                            </figure>
                        </a>
                    </div>

                    
                <!--imagen 8-->
                <div class="contenedor-imagen col-12 col-md-6 col-lg-4">
                    
                        <figure class="figure"></figure>
                        <img src="{%static 'app/imgs/Isrrael.jpg' %}" class="d-block w-100" alt="">
                        <figcaption class="figure-caption">
                        <p class="text-center">Israel ataca el Líbano y la franja de Gaza tras recibir disparos de cohetes. Distintas reacciones a lo largo del mundo.
                            <br>Autor: Marisol García Correa
                            Fecha: 03/04/2023
                        </p>
                        </figcaption>
                        </figure>
                    </a>
                </div>
                </div><!--cierre-->

            </div>


        </div>


    </div>

</main>
{% endblock %}