{% extends 'app/base.html' %}

{% load static %}

{% block contenido %}
<main class="container">
    <div class="row flex-row justify-content-end  col 12 col-md-12 col-lg-12">
        <!--inicio-->
        <div class="col-auto border-bottom pb-5 ">
            <h2 class="titulo">Nuestra Misión</h2>
            <p>Producir medios de comunicación regionalizados, comprometidos únicamente con la comunidad, constituyéndonos en la mejor fuente informativa.

                Nuestra compañía se basa en la independencia, el pluralismo y la credibilidad y está sustentada en los más altos valores morales y éticos.
                
                Mantenemos políticas claras y transparentes en nuestras relaciones comerciales, lo que permite un crecimiento razonable y sustentado de la empresa y de su recurso humano.
            <br><br><b>
                Siempre desde una política editorial fiel a los principios fundamentales del periodismo profesional.
            </b>
            </p>
        </div>
        <div class="col-auto border-bottom pb-5 ">
            <h2 class="titulo">Visión</h2>
            <p>En el mediano plazo, seremos una empresa comunicacional modelo comprometida socialmente, en la cual todos asumimos la responsabilidad directa en la calidad del producto y del servicio.

                En el corto plazo, seguiremos creciendo, ampliando nuestro público lector y nuestro portafolio de productos y servicios, afianzando nuestro liderazgo y posicionamiento de marca.
                
                Seremos una empresa innovadora enfocada en el mejoramiento continuo en todas las áreas.
                
                Mantendremos buenas relaciones con los lectores, anunciantes y colaboradores.
            </p>
        </div>
        <div class="col-auto border-bottom pb-5 ">
            <h2 class="titulo">Sobre nosotros</h2>
            <p>Caos News es un medio de comunicación digital español de ámbito nacional e internacional y temática generalista, nacido en noviembre de 2003 por iniciativa de su actual director.

                Es un periódico independiente que no pertenece a ningún grupo económico, político o mediático y que se fundamenta en la pluralidad de ideas y opiniones y en la apertura a la participación.
                
                La contribución de los lectores ha sido fundamental para nuestro desarrollo desde que nacimos. De hecho, contamos con más de 100 de colaboradores entre columnistas, analistas, cronistas deportivos, críticos, dibujantes y especialistas en diversos campos, muchos de los cuales son usuarios que han decidido ayudarnos a construir este proyecto.
                
                <br><br>Nuestro sistema de producción, basado en el concepto de redacción virtual, permite publicaciones y actualizaciones en tiempo real desde cualquier punto del mundo. Con más de 400 textos publicados cada día, somos referencia de información de última hora y permanentemente actualizada.
            </p>
        </div>


      <div class="row 12">
        <img src="{%static 'app/imgs/periodistas.jpg' %}">
      </div> 
      

</main>
{% endblock %}